<!DOCTYPE HTML>
<html>
<head>
<title>CSS Style Sheet</title>
<style>
h1 {
	color: seagreen;
	font-family: serif;
	font-size: 100%;
}
p {
	color: rebeccapurple;
	font-family: sans-serif;
	font-size: 100%;
}
</style>
</head>